* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
}

.main-content {
  display: flex;
  align-items: flex-start;
}

#chart_area {
  max-width: 1000px;
  white-space: nowrap;
  overflow: auto;
}

#chart_legend {
  margin: 10px 0 0 20px;
}

.node-wrapper {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.node {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.y-label-staic {
  text-align: center;
}

.y-label-staic > *:first-child + * {
  opacity: 0;
  transition: all ease 0.3s;
}

.y-label-staic > *:first-child:hover + *,
.y-label-staic > *:first-child + *:hover {
  opacity: 1;
}

.circle-plus {
  opacity: 0;
}

.circle-plus:hover {
  opacity: 1;
}

.circle-plus.show {
  opacity: 1;
}

.column-add-icon {
  color: #55d762;
  cursor: pointer;
  transition: all ease 0.3s;
}

.column-add-icon:hover {
  transform: translateY(2px);
}

.icon-button {
  margin: 5px 5px 0 5px;
  color: #dedede;
  cursor: pointer;
  transition: all ease 0.3s;
}

.icon-button:hover {
  color: #000000;
}

#chart_legend {
  max-width: 260px;
  padding: 3px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.flex-row {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
  user-select: none;
  height: 50px;
}

.flex-row:hover {
  background-color: #f5f5f5;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40px;
  min-width: 40px;
  margin-right: 10px;
  text-align: center;
  position: relative;
}

.icon > .line {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 2px solid;
  width: 100%;
  transform: translateY(-50%);
}

.icon > i {
  position: relative;
}

.flex-row .action {
  position: absolute;
  color: #dedede;
  left: calc(100% + 10px);
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.flex-row:hover > .action {
  opacity: 1;
}

.flex-row > .action.dragging {
  opacity: 1;
}

.title-flex {
  display: flex;
  align-items: center;
}

.title-flex > h1 + i {
  opacity: 0;
}

.title-flex > h1:hover + i,
.title-flex > h1 + i:hover {
  opacity: 1;
}

.title-flex input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.legend-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
